* {
    margin: 0;
    padding: 0;
    font-family: cursive
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #3498DB, #1ABC9C);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60%;
    width: 20%;
    box-shadow: black 25px 25px 25px -20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    border: 1px solid black;
    border-radius: 200px;
}

.card-info {
    display: flex;
    flex-direction: column;

}

.card-fav {
    font-size: 80px;
}

.card-name {
    font-size: 5rem;
}
.card-phone{
    font-size: 2rem;
}
.card-email{
    font-size: 2rem;
}